<!-- Sección 2: Conócenos / Quiénes Somos -->
        <section id="conocenos" class="conocenos-section">
            <div class="pannel-1">
                <h2>EDUCACIÓN CANINA POSITIVA</h2>
                <h3>TE ENSEÑA,OS A ENSEÑARLE</h3>
            </div>
            <div class="containerA">
                <h2 class="conocenos text-center">¡CONÓCENOS!</h2>
                <!-- 3 tarjetas de equipo se agregarán aquí -->
                <div class="row text-center">
                    <h2>SOMOS LEILA Y CAMILA</h2>
                    <div class="sujetoA">
                        <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Leila">
                        <p>Ayudamos a todos los perros adiestradoras prof <br>Perros con ansiedad y miedo <br>Instructoras de agility <br>Primeros aux, formación constante</p>
                    </div>
                    <div class="sujetoB">
                        <p>Ayudamos a todos los perros adiestradoras prof <br>Perros con ansiedad y miedo <br>Instructoras de agility <br>Primeros aux, formación constante</p>
                        <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Camila">
                    </div>
                </div>
            </div>
        </section>