<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center fw-bold" href="#">
      <img src="assets/images/Logo.png" alt="Adiestramiento Logo" height="40" class="me-2">
      <span class="fs-3">Adiestramiento</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="#hero">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#conocenos">Conócenos</a></li>
        <li class="nav-item"><a class="nav-link" href="#clases">Clases</a></li>
        <li class="nav-item"><a class="nav-link" href="#modalidades-online">Modalidades</a></li>
        <li class="nav-item"><a class="btn btn-contacto" href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
