<!-- Sección 4: Modalidades -->
        <section id="modalidades-online" class="modalidades-section py-5">
            <div class="container1">
                <h2>MODALIDADES:</h2>
            </div>
            <div class="container2">
                <h2>ONLINE</h2>
                <h3>Dentro y fuera de argentina.</h3>
                <h3>Habla hispana. HUSO HORARIO.</h3>
            </div>
            <img src="./assets/images/working.png" alt="Persona trabajando en laptop" class="img-fluid rounded" width="100">
        </section>

        <section id="modalidades-presencial" class="modalidades-section py-5">
            <!-- Título principal -->
            <h2>PRESENCIAL</h2>
            
            <!-- Contenedores en fila -->
            <div class="modalidades-row">
                <div class="container1">
                    <img src="./assets/images/dogping.png" alt="dogping" class="location-icon">
                    <div class="location-text">
                        <h2>BUENOS AIRES</h2>
                        <h3>GBA - Zona oeste | CABA reducido</h3>
                    </div>
                </div>
                
                <div class="container2">
                    <img src="./assets/images/dogping.png" alt="dogping" class="location-icon">
                    <div class="location-text">
                        <h2>MENDOZA</h2>
                        <h3>Gran Mendoza y alrededores</h3>
                    </div>
                </div>
            </div>
            
            <!-- Llamado a acción -->
            <div class="container3">
                <a href="#contacto" class="cta-presencial">
                    SUMATE A LOS ADIESTRADORES!
                </a>
            </div>

        </section>